.container {
  --max-width: 1148px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5px;
}
li {
  background-color: rgb(3, 75, 106);
}
a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px !important;
  display: inline-block;
}
.form-section {
  --max-width: 700px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  background-color: rgb(66, 134, 136);
  box-shadow: 5px 5px 10px rgb(148, 147, 147);
  padding: 10px 20px;
  border-radius: 10px;
}
input {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
input[type="submit"] {
  cursor: pointer;
  /* display: inline-block;
  font-size: 16px; */
  height: 30px;
  background-color: rgba(59, 177, 240, 0.912);
  border: none;
}
input::placeholder {
  color: red;
  opacity: 0.7;
}
table {
  --max-width: 700px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  border-collapse: collapse;
}
th {
  background-color: #5dabab;
}
th,
td {
  border-bottom: 1px solid black;
  text-align: start;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #d8e4e4;
}
tr:hover {
  background-color: #aadfdf;
}
td:hover {
  cursor: pointer;
}
