{% extends 'base.html' %} {% load static %} {% block title %}Entry{% endblock title %} {% block templates %}

<div class="form-section">
  <form action="{% url 'store' %}" method="POST">
    {% csrf_token %}
    <h1>Employee Entry form</h1>
    <div class="form-control">
      <label for="">Employee ID</label>
      <input type="text" name="empID" id="" required placeholder="Employee ID"/>
    </div>
    <div class="form-control">
      <label for="">Employee Name</label>
      <input type="text" name="empName" id="" required placeholder="Employee Name"/>
    </div>
    <div class="form-control">
      <label for="">Employee Address</label>
      <input type="text" name="empAddress" id="" placeholder="Employee Address"/>
    </div>
    <div class="form-control">
      <label for="">Employee Email</label>
      <input type="text" name="empEmail" id="" placeholder="Employee Email"/>
    </div>
    <div class="form-control">
      <label for="">Employee Phone</label>
      <input type="text" name="empPhone" id="" required placeholder="Employee Phone"/>
    </div>
    <div class="form-control">
      <input type="submit" name="submit" id="" />
    </div>
  </form>
</div>

{% endblock templates %}
